{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Why is Damien Adams not hoping to get work when they’re released?
        </h1>

        <form class="form" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="not-work-reason-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <div id="not-work-reason-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-1" name="not-work-reason" type="checkbox" value="Feels type of offence will limit their ability to find work">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-1">
                    Feels type of offence will limit their ability to find work
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-2" name="not-work-reason" type="checkbox" value="Has full-time caring responsibilities">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-2">
                    Has full-time caring responsibilities
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-3" name="not-work-reason" type="checkbox" value="Lacks confidence or motivation to find work">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-3">
                    Lacks confidence or motivation to find work
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-4" name="not-work-reason" type="checkbox" value="Not able to work due to a health condition">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-4">
                    Not able to work due to a health condition
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-5" name="not-work-reason" type="checkbox" value="Refused support with no reason">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-5">
                    Refused support with no reason
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-6" name="not-work-reason" type="checkbox" value="Retired">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-6">
                    Retired
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-7" name="not-work-reason" type="checkbox" value="Right to work in the UK not confirmed">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-7">
                    Right to work in the UK not confirmed
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-8" name="not-work-reason" type="checkbox" value="Other" data-aria-controls="conditional-not-work-reason">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-8">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-not-work-reason">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="conditional-not-work-reason">
                      Give details
                    </label>
                    </h1>
                    <textarea class="govuk-textarea" id="with-hint" name="with-hint" rows="2" aria-describedby="with-hint-info with-hint-hint"></textarea>
                  </div>
                </div>

                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="not-work-reason-notSure" name="not-work-reason" type="checkbox" value="Not sure" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="not-work-reason-notSure">
                    Not sure
                  </label>
                </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
