{% extends "./includes/template.html" %}

{% block content %}




<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                {% if data['highest-education'] == 'Secondary school, took exams' %}
                <h1 class="govuk-heading-l">
                  What level of secondary school qualification does Damien Adams want to add?
                </h1>
                {% else %}
                <h1 class="govuk-heading-l">
                  What level of further education college qualification does Damien Adams want to add?
                </h1>
                {% endif %}

              <p class="govuk-body">Add their highest level of qualification first. You can add any others afterwards.</p>

              {% if data['highest-education'] == 'Secondary school, took exams' %}
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-0" name="qual-level" type="radio" value="Entry level">
                  <label class="govuk-label govuk-radios__label" for="qual-level-0">
                    Entry level
                  </label>
                  <div id="qual-level-0-hint" class="govuk-hint govuk-radios__hint">
                    including entry level ESOL certificate (ELC) and Skills for life
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-1" name="qual-level" type="radio" value="Level 1">
                  <label class="govuk-label govuk-radios__label" for="qual-level-1">
                    Level 1
                  </label>
                  <div id="qual-level-1-hint" class="govuk-hint govuk-radios__hint">
                    including level 1 essential or functional skills and some GCSE grades
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-2" name="qual-level" type="radio" value="Level 2">
                  <label class="govuk-label govuk-radios__label" for="qual-level-2">
                    Level 2
                  </label>
                  <div id="qual-level-2-hint" class="govuk-hint govuk-radios__hint">
                    including some CSE and GCSE grades, level 2 NVQ and some O level grades
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-3" name="qual-level" type="radio" value="Level 3">
                  <label class="govuk-label govuk-radios__label" for="qual-level-3">
                    Level 3
                  </label>
                  <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                    including A level, international Baccalaureate diploma, advanced apprenticeship and T level
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-4" name="qual-level" type="radio" value="Level 4">
                  <label class="govuk-label govuk-radios__label" for="qual-level-4">
                    Level 4
                  </label>
                  <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                    including certificate of higher  education (CertHE), level 4 diploma and higher apprenticeship
                  </div>
                </div>
                <!-- <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-5" name="qual-level" type="radio" value="Level 5">
                  <label class="govuk-label govuk-radios__label" for="qual-level-5">
                    Level 5
                  </label>
                  <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                    including higher national diploma (HND), foundation degree and level 5 NVQ
                  </div>
                </div> -->
                <!-- <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-6" name="qual-level" type="radio" value="Level 6">
                  <label class="govuk-label govuk-radios__label" for="qual-level-6">
                    Level 6
                  </label>
                  <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                    including degree with honours, graduate apprenticeship and level diploma
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-7" name="qual-level" type="radio" value="Level 7">
                  <label class="govuk-label govuk-radios__label" for="qual-level-7">
                    Level 7
                  </label>
                  <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                    including master’s degree, postgraduate certificate in education (PGCE) and level 7 NVQ
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="qual-level-8" name="qual-level" type="radio" value="Level 8">
                  <label class="govuk-label govuk-radios__label" for="qual-level-8">
                    Level 8
                  </label>
                  <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                    including doctorate, level 8 certificate or diploma
                  </div>
                </div> -->
              </div>

            {% else %}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-0" name="qual-level" type="radio" value="Entry level">
                <label class="govuk-label govuk-radios__label" for="qual-level-0">
                  Entry level
                </label>
                <div id="qual-level-0-hint" class="govuk-hint govuk-radios__hint">
                  including entry level ESOL certificate (ELC) and Skills for life
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-1" name="qual-level" type="radio" value="Level 1">
                <label class="govuk-label govuk-radios__label" for="qual-level-1">
                  Level 1
                </label>
                <div id="qual-level-1-hint" class="govuk-hint govuk-radios__hint">
                  including level 1 essential or functional skills and some GCSE grades
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-2" name="qual-level" type="radio" value="Level 2">
                <label class="govuk-label govuk-radios__label" for="qual-level-2">
                  Level 2
                </label>
                <div id="qual-level-2-hint" class="govuk-hint govuk-radios__hint">
                  including some CSE and GCSE grades, level 2 NVQ and some O level grades
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-3" name="qual-level" type="radio" value="Level 3">
                <label class="govuk-label govuk-radios__label" for="qual-level-3">
                  Level 3
                </label>
                <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                  including A level, international Baccalaureate diploma, advanced apprenticeship and T level
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-4" name="qual-level" type="radio" value="Level 4">
                <label class="govuk-label govuk-radios__label" for="qual-level-4">
                  Level 4
                </label>
                <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                  including certificate of higher  education (CertHE), level 4 diploma and higher apprenticeship
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-5" name="qual-level" type="radio" value="Level 5">
                <label class="govuk-label govuk-radios__label" for="qual-level-5">
                  Level 5
                </label>
                <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                  including higher national diploma (HND), foundation degree and level 5 NVQ
                </div>
              </div>
              <!-- <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-6" name="qual-level" type="radio" value="Level 6">
                <label class="govuk-label govuk-radios__label" for="qual-level-6">
                  Level 6
                </label>
                <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                  including degree with honours, graduate apprenticeship and level diploma
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-7" name="qual-level" type="radio" value="Level 7">
                <label class="govuk-label govuk-radios__label" for="qual-level-7">
                  Level 7
                </label>
                <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                  including master’s degree, postgraduate certificate in education (PGCE) and level 7 NVQ
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-level-8" name="qual-level" type="radio" value="Level 8">
                <label class="govuk-label govuk-radios__label" for="qual-level-8">
                  Level 8
                </label>
                <div id="qual-level-3-hint" class="govuk-hint govuk-radios__hint">
                  including doctorate, level 8 certificate or diploma
                </div>
              </div> -->
            {% endif %}


            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
