{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Is there anything that Damien Adams feels may affect their ability to work after they’re released?
        </h1>

        <form class="form" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="barriers-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <div id="barriers-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="barriers-1" name="barriers" type="checkbox" value="Feels type of offence will limit their ability to find work">
                  <label class="govuk-label govuk-checkboxes__label" for="barriers-1">
                    Feels type of offence will limit their ability to find work
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="barriers-2" name="barriers" type="checkbox" value="Has caring responsibilities">
                  <label class="govuk-label govuk-checkboxes__label" for="barriers-2">
                    Has caring responsibilities
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="barriers-3" name="barriers" type="checkbox" value="May need work adjustments due to a health condition">
                  <label class="govuk-label govuk-checkboxes__label" for="barriers-3">
                    May need work adjustments due to a health condition
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="barriers-4" name="barriers" type="checkbox" value="Retired">
                  <label class="govuk-label govuk-checkboxes__label" for="barriers-4">
                    Right to work in the UK not confirmed
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="barriers-5" name="barriers" type="checkbox" value="Other" data-aria-controls="conditional-barriers">
                  <label class="govuk-label govuk-checkboxes__label" for="barriers-5">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-barriers">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="conditional-barriers">
                      Give details
                    </label>
                    </h1>
                    <textarea class="govuk-textarea" id="with-hint" name="with-hint" rows="2" aria-describedby="with-hint-info with-hint-hint"></textarea>
                  </div>
                </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
