{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">


  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>


    <span class="govuk-caption-l">Add an employer - step 1 of 4</span>
  <h1 class="govuk-heading-l">Employer details</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="./add-employer-description" method="post">
  <div class="govuk-form-group">
    <label class="govuk-label" for="employer-name">Employer name</label>
   
  
      {% if (data['name'] != "empty") %}
      <input class="govuk-input" id="employer-name" name="employer-name" type="text" value=" {{ data['name'] }}">
      {% else %}
      <input class="govuk-input" id="employer-name" name="employer-name" type="text" value="">
      {% endif %}

  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="employer-sector">Employer sector</label>
    <select class="govuk-select" id="employer-sector" name="employer-sector">

      <option value="">Choose employer sector</option>
      <option value="administration-support-services">Administration and support services</option>
      <option value="agriculture">Agriculture (including horticulture, forestry and fishing)</option>
      <option value="arts-entertainment">Arts and entertainment</option>
      {% if (data['name'] != "empty") %}
      <option value="construction" selected>Construction</option>
      {% else %}
      <option value="construction">Construction</option>
      {% endif %}
      <option value="education">Education</option>
      <option value="energy">Energy</option>
      <option value="finance">Finance (including insurance)</option>
      <option value="health-social-work">Health and social work</option>
      <option value="hospitality-catering">Hospitality and Catering</option>
      <option value="logistics">Logistics (including transportation and storage)</option>
      <option value="manufacturing">Manufacturing</option>
      <option value="mining">Mining</option>
      <option value="other-services">Other services</option>
      <option value="professionals-scientists-technicians">Professionals, scientists and technicians (including accounting, legal, architecture, consultancy and engineering)</option>
      <option value="property">Property</option>
      <option value="public-administration-defence">Public administration and defence</option>
      <option value="recycling-waste-management">Recycling and waste management (including water supply)</option>
      <option value="retail">Retail (includes wholesale and motor vehicle repair)</option>
      <option value="technology">Technology (includes information and communication)</option>
     
     
    </select>
    
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="employer-status">Employer status</label>
    <select class="govuk-select" id="employer-status" name="employer-status">
      <option value="">Choose employer status</option>
      <option value="platinum">Platinum (key partner)</option>
      <option value="gold">Gold</option>
      {% if (data['name'] != "empty") %}
      <option value="silver" selected>Silver</option>
      {% else %}
      <option value="silver">Silver</option>
      {% endif %}
    </select>
    
  </div>



  <button class="govuk-button" type="submit">Continue</button>
</form>

    </div>
  </div>

</div>
{% endblock %}