{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <!-- Breadcrumb -->

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dps-home">Digital Prison Services</a>
      </li>
    </ol>
  </div>

  <!-- Main page -->

  <main class="govuk-main-wrapper">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      Create an education and work plan
    </h1>

    <div class="govuk-form-group filter-box govuk-!-margin-top-4">
      <div class="govuk-grid-column-one-third">
            <form method="post">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="search">
                  Search by prisoner's name
                </label>
                <input class="govuk-input" id="search" name="search" type="search" aria-describedby="search-hint">
              <button class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" data-module="govuk-button">
                Search
              </button>
              </div>

            </form>
      </div>
      <!-- <div class="govuk-grid-column-two-thirds">
            <form method="post">

              <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-top-6" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter" name="filter" type="checkbox" value="Show prisoners who have already created their plan">
                  <label class="govuk-label govuk-checkboxes__label" for="filter">
                    Show prisoners who already have a plan
                  </label>
                </div>
              </div>

            </form>
      </div> -->
    </div>

<!-- add table of people  -->

<table class="govuk-table govuk-!-margin-top-6" data-module="moj-sortable-table" id="prisonerTable">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Release type and date</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Entered prison on</th>
      <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Updated on</th> -->
  </thead>
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Adams" href="./profile/damien-adams">Adams, Damien</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
      <td class="govuk-table__cell" data-sort-value="2022.05.28">HDC:</br>28 May 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="1900.01.01">N/A</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Ahmed" href="#">Ahmed, Adam</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G5823GP </span></td>
      <td class="govuk-table__cell" data-sort-value="2022.07.04">4 Jul 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="2022.01.17">17 Jan 2022</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Atkins" href="#">Atkins, Joel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G3902GW </span></td>
      <td class="govuk-table__cell" data-sort-value="2022.06.03">HDC:</br>3 Jun 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="2022.01.27">27 Jan 2022</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Bahringer" href="#">Bahringer, Darin</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G3989UN</span></td>
      <td class="govuk-table__cell" data-sort-value="2022.12.13">13 Dec 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="2022.02.02">2 Feb 2022</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Baron" href="./profile/does-not-want-support/lee-baron">Baron, Lee</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G3757UN</span></td>
      <td class="govuk-table__cell" data-sort-value="2022.11.11">11 Nov 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="2022.05.03">3 May 2022</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Bruce" href="#">Bruce, John</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G3757UN</span></td>
      <td class="govuk-table__cell" data-sort-value="2022.10.03">3 Oct 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="1900.01.01">N/A</td> -->

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Daniels" href="./profile/no-right-to-work/robert-daniels">Daniels, Robert</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G3933UL</span></td>
      <td class="govuk-table__cell" data-sort-value="2022.12.06">6 Dec 2022</td>
      <td class="govuk-table__cell" data-sort-value="2022.03.04">4 Mar 2022</td>
      <!-- <td class="govuk-table__cell" data-sort-value="2022.03.05">5 Mar 2022</td> -->
    </tr>


</table>


  <!-- <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

    <ul class="moj-pagination__list">
      <li class="moj-pagination__item moj-pagination__item--active">1</li>
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">3</a></li>
      <li class="moj-pagination__item  moj-pagination__item--next">
        <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>53</b> results</p>
  </nav> -->



</div>
</div>

</div>


<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("filterName");
    filter = input.value.toUpperCase();
    table = document.getElementById("prisonerTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>



{% endblock %}
