{% extends "./includes/template.html" %}

{% block content %}




<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Is Damian Adams hoping to get work when they’re released?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-on-release-yes" name="work-on-release" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="work-on-release-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-on-release-no" name="work-on-release" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="work-on-release-no">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-on-release-notSure" name="work-on-release" type="radio" value="Not sure">
                  <label class="govuk-label govuk-radios__label" for="work-on-release-notSure">
                    Not sure
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
