{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          What does Damien Adams feel is important for them to work towards?
        </h1>

        <form class="form" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="goal-type-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <div id="goal-type-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal-type-1" name="goal-type" type="checkbox" value="Childcare or caring for someone when they’re released">
                  <label class="govuk-label govuk-checkboxes__label" for="goal-type-1">
                    Childcare or caring for someone when they’re released
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal-type-2" name="goal-type" type="checkbox" value="Getting qualifications or training">
                  <label class="govuk-label govuk-checkboxes__label" for="goal-type-2">
                    Getting qualifications or training
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal-type-3" name="goal-type" type="checkbox" value="Getting support with a health issue">
                  <label class="govuk-label govuk-checkboxes__label" for="goal-type-3">
                    Getting support with a health issue
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal-type-4" name="goal-type" type="checkbox" value="Paid work or volunteering when they’re released">
                  <label class="govuk-label govuk-checkboxes__label" for="goal-type-4">
                    Paid work or volunteering when they’re released
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal-type-other" name="goal-type" type="checkbox" value="Something else" data-aria-controls="conditional-goal-type">
                  <label class="govuk-label govuk-checkboxes__label" for="goal-type-other">
                    Something else
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-goal-type">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="goal-type-other">
                      Give details
                    </label>
                    </h1>
                    <textarea class="govuk-textarea" id="with-hint" name="with-hint" rows="2" aria-describedby="with-hint-info with-hint-hint"></textarea>
                  </div>
                </div>

                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal-type-notSure" name="goal-type" type="checkbox" value="Not sure" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="goal-type-notSure">
                    Not sure
                  </label>
                </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
