{% extends "./includes/template.html" %}

{% block content %}




<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Has Damian Adams worked before?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-before-yes" name="work-before" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="work-before-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-before-no" name="work-before" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="work-before-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
