{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">

  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
   
      {% set count = 0 %}
      {% set id = data['id'] %}
      {% if (data['duplicate'] == "true" ) %}
      {% set valid_ids = ["19"] %}

      {% else %}
      {% set valid_ids = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10","11", "12", "13", "14", "15", "16", "17", "18", "20"] %}

      {% endif %}


      {% set included_123456 = false %}


      {% if id in valid_ids %}
      {% for job in data.jobs17 %}
          {% if job.id == id %}
            {% set current_id = job.id %}
    

           
            {% if (data['duplicate'] == "true" ) %}
            <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Important
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">Duplicating Kitchen assistant
                </p>
                <p class="govuk-body">Update the details below before saving.</p>

              </div>
            </div>
          </div>

          </div>
          <h1 class="govuk-heading-l">Kitchen assistant</h1>

            {% else %}
            
            <a href="job-detail?id=19&duplicate=true" type="submit" class="govuk-button govuk-button--secondary right" data-module="govuk-button">
              Duplicate job
            </a>
            <h1 class="govuk-heading-l">{{ job.title }}</h1>

            {% endif %}






   
      </div>

    <div class="govuk-grid-column-two-thirds">

     <!-- EMPLOYER NAME AND TYPE -->

      <h2 class="govuk-heading-m">Employer details</h2>

      <dl class="govuk-summary-list margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Employer name</dt>
          {% if not data['employer-name'] %}
         <dd class="govuk-summary-list__value">Greene King</dd>
          {% else %}
          <dd class="govuk-summary-list__value">{{ data['employer-name'] }}</dd>
          {% endif %}
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> employer name</span></a>
          </dd>
        </div>
        
      </dl>
    

<!-- HIRING LOCATION -->

      <h2 class="govuk-heading-m">Hiring location</h2>

      <dl class="govuk-summary-list margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Location type</dt>
      

          {% if data['nationalJob'] == "yes" %}
           <dd class="govuk-summary-list__value"> National job</dd>
          {% elseif data['nationalJob'] == "no" %}
           <dd class="govuk-summary-list__value">Single hiring location</dd>
          {% else %}
           <dd class="govuk-summary-list__value"> National job</dd>
            {% endif %}
          <dd class="govuk-summary-list__actions">
            <a href="../edit-job-final/02-hiring-location-national" class="govuk-link" >Change<span class="govuk-visually-hidden"> employer name</span></a>
          </dd>
        </div>
        
      </dl>

<!-- JOB DESCRIPTION -->

      <h2 class="govuk-heading-m">Job description</h2>
        <dl class="govuk-summary-list margin-bottom-4">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job title</dt>
          <dd class="govuk-summary-list__value">Kitchen assistant</dd>
          <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job description</dt>
          <dd class="govuk-summary-list__value">
              As a Kitchen Assistant, you will… <br>
              Help the kitchen service run smoothly by making sure it is well stocked and clean. Maintain hygiene levels and safety regulations in the kitchen to help guarantee the safety of your entire team and visitors. Communicate clearly with your team, ensuring they have everything they need.<br>
              What you’ll bring to the kitchen:<br>
              A positive can-do attitude to support your team. A passion for challenges and thriving in a fast-paced kitchen. Willingness to learn and expand your skills in the kitchen.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> job description</span></a>
          </dd>
        </div>

        {% if data['nationalJob'] == "no" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job location</dt>
          <dd class="govuk-summary-list__value">LA22 9BU</dd>
          <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
        </div>
        {% endif %}


         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number of vacancies (optional)</dt>
          <dd class="govuk-summary-list__value">150</dd>
          <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
        </div>

      </dl>

            <!-- JOB SECTOR AND SOURCES -->

      <h2 class="govuk-heading-m">Job sector and sources</h2>

      <dl class="govuk-summary-list margin-bottom-4">
       <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job sector</dt>
          <dd class="govuk-summary-list__value">Hospitality and catering</dd>
          <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> job sector</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">NFN industry sector</dt>
          <dd class="govuk-summary-list__value">Hospitality and catering</dd>
          <dd class="govuk-summary-list__actions"><a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> NFN industry sector</span></a></dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job source</dt>
          <dd class="govuk-summary-list__value">NFN</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> first job source</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job source 2 (optional)</dt>
          <dd class="govuk-summary-list__value">Not provided	</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden">Second job source (optional)</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Supported by a charity? (optional)</dt>
          <dd class="govuk-summary-list__value">Not provided</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> supported by a charity? (optional)</span></a>
          </dd>
        </div>

        </dl>

<!-- CONTRACT DETAILS -->


      <h2 class="govuk-heading-m">Contract details</h2>
      <dl class="govuk-summary-list margin-bottom-4">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Salary from</dt>
          <dd class="govuk-summary-list__value">£12.00</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> salary from</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Salary to (optional)</dt>
          <dd class="govuk-summary-list__value">Not provided</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> salary to (optional)</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Salary period</dt>
          <dd class="govuk-summary-list__value">Per hour</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> salary period</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional salary information (optional)</dt>
          <dd class="govuk-summary-list__value">Not provided</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> additional salary information (optional)</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Does salary pay minimum wage?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> does salary pay minimum wage?</span></a>
          </dd>
        </div>
      
      </dl>


<!-- WORKING PATTERN -->

      <h2 class="govuk-heading-m">Working pattern</h2>
      <dl class="govuk-summary-list margin-bottom-4">

      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Work pattern</dt>
          <dd class="govuk-summary-list__value">Flexible shifts</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> work pattern</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours per week</dt>
          <dd class="govuk-summary-list__value">Zero hours</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> hours per week</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Contract type</dt>
          <dd class="govuk-summary-list__value">Temporary</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> contract type</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Base location (optional)</dt>
          <dd class="govuk-summary-list__value">Workplace</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> base location (optional)</span></a>
          </dd>
        </div>
      </dl>


<!-- JOB REQUIREMENTS -->

      <h2 class="govuk-heading-m">Job requirements</h2>

      <dl class="govuk-summary-list margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Essential job criteria</dt>
          <dd class="govuk-summary-list__value">Help the kitchen service run smoothly by making sure it is well stocked and clean. Maintain hygiene levels and safety regulations in the kitchen to help guarantee the safety of your entire team and visitors. Communicate clearly with your team, ensuring they have everything they need.</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> essential job criteria</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Desirable job criteria (optional)</dt>
          <dd class="govuk-summary-list__value">Not provided</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> desirable job criteria (optional)</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Offence exclusions</dt>
          <dd class="govuk-summary-list__value">No excluding offences</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> offence exclusions</span></a>
          </dd>
        </div>
      </dl>

<!-- HOW TO APPLY -->
      <h2 class="govuk-heading-m">How to apply</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Rolling opportunity?</dt>
          <dd class="govuk-summary-list__value">Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> rolling opportunity?</span></a>
          </dd>
        </div>
      

      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Only for prison leavers?</dt>
          <dd class="govuk-summary-list__value">Yes</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> only for prison leavers?</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job start date</dt>
          <dd class="govuk-summary-list__value">20 August 2024</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> job start date</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How to apply</dt>
          <dd class="govuk-summary-list__value">Email contact at employer</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> how to apply</span></a>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Supporting documentation required</dt>
          <dd class="govuk-summary-list__value">CV</dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> supporting documentation required</span></a>
          </dd>
        </div>
      </dl>

<!--{% endif %}
{% endfor %}

{% else %}
<p>Invalid ID provided. No job details available.</p>
{% endif %}-->

{% if (data['duplicate'] == "true" ) %}
<form method="post" action="./jobs-list">
  <button class="govuk-button">Duplicate job and save</button>

{% else %}
<form method="post" action="./jobs-list" value="update">
  <button class="govuk-button">Update job and save</button>

{% endif %}


      <!-- <a href="are-you-sure" type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Remove job
      </a> -->
    </form>

    </div>
  </div>

</div>
{% endblock %}