// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/timeline";
@import 'components/date-picker';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.filter-box {
    background-color: govuk-colour("light-grey");
    padding: 25px;
}

.filter-box-width-override-60 {
    width: 60%;
    float: left;
}

.filter-box-width-override-20 {
    width: 20%;
    float: left;
}

.reporting-stats h4 {
  margin-bottom: 5px;
}

.reporting-stats p {
  margin-bottom: 10px;
}

.reporting-big-number {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 10px !important

}


////////// DPS styles //////////

// DPS header
@import "components/dps-header";

// Hero banner (masthead)
@import "components/masthead";

// Date / time picker styles only
@import "components/date_time";

// Navigation cards and DPS home stuff
@import "components/cards";

// Location bar
@import "components/location-bar";

// prisoner results
@import "components/prisoner-results";

// BaSM styles
@import "components/basm";

// DPS profile styles
@import "components/prisonerProfile/prisoner-alerts";
@import "components/prisonerProfile/prisoner-full-image";
@import "components/prisonerProfile/prisoner-personal";
@import "components/prisonerProfile/prisoner-profile";
@import "components/prisonerProfile/prisoner-profile-header";
@import "components/prisonerProfile/prisoner-profile-footer";
@import "components/prisonerProfile/prisoner-schedule";
@import "components/prisonerProfile/prisoner-visits";
@import "components/prisonerProfile/prisoner-button";
@import "components/summary-list";
@import "components/summary-card";
@import "components/app-contact-panel";
@import "components/beta-feedback";
@import "components/feedback-banner-beta";
// @import "components/alert-list";
@import "components/alert-status";

@import "components/modal";


// DPS MINI PROFILE HEADER

.dps-mini-profile-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    background: #f3f2f1;
    margin-bottom: 30px
}

.dps-mini-profile-header .app-prisoner-photo--small {
    margin-right: 30px
}

.dps-mini-profile-header dl {
    margin-right: 60px
}

.dps-mini-profile-header dl:first-of-type {
    margin-right: 0
}

.dps-mini-profile-header dl:last-child {
    margin-right: 0
}

.dps-mini-profile-header .dps-mini-profile-header--align-right {
    align-self: center;
    margin-left: auto
}

.dps-mini-profile-header .dps-mini-profile-header--align-right .govuk-button,.dps-mini-profile-header .dps-mini-profile-header--align-right .hmpps-action-button {
    margin-bottom: 0
}

@media(max-width: 40.0525em) {
    .dps-mini-profile-header {
        display:block
    }

    .dps-mini-profile-header .app-prisoner-photo--small {
        margin-bottom: 20px
    }

    .dps-mini-profile-header dl {
        margin-right: 0
    }

    .dps-mini-profile-header dl:last-child {
        margin-bottom: 0
    }

    .dps-mini-profile-header dl:last-child dd {
        margin-bottom: 0
    }
}

.app-prisoner-photo,.app-prisoner-photo--large,.app-prisoner-photo--small {
    width: 90px;
    margin-right: 30px
}

.app-prisoner-photo--small {
    width: 80px
}

.app-prisoner-photo--large {
    width: 120px
}

dl dt {
    font-weight: bold;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 19px
}

dl dd {
    margin-left: 0
}

dd {
    padding-top: 5px !important;
}

.govuk-\!-padding-3,.dps-mini-profile-header {
    padding: 20px !important;
}

dl dd,dl,p,.govuk-body,.govuk-body-m {
    margin-top: 0;
    /* margin-bottom:15px; */
}
