{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

    <!-- Breadcrumb -->

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../dps-home">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../home">Work after release</a>
        </li>
      </ol>
    </div>

    <!-- Main page -->

<main class="govuk-main-wrapper">

    <form method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Adam Ahmed’s work profile</h1>

        {% include "../profile/includes/dps-mini-header.html" %}


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <nav class="moj-sub-navigation" aria-label="Sub navigation">

              <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="#">Overview</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./tab2-personal">Personal details</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./tab3-work">Work interests and experience</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./tab4-training">Training in prison</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./tab5-contacts">Contacts</a>
                </li>


              </ul>

            </nav>

          </div>
        </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-m govuk-!-margin-bottom-7">Overview</h1>


            <section class="app-summary-card govuk-!-margin-bottom-6">
              <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                  Matched jobs and applications
                </h2>
              </header>

              <div class="app-summary-card__body">
                <div class="govuk-tabs" data-module="govuk-tabs">
                  <h2 class="govuk-tabs__title">
                    Matched jobs and applications
                  </h2>
                  <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                      <a class="govuk-tabs__tab" href="#matched-jobs">
                        Matched jobs
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#open-applications">
                        Open applications
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#closed-applications">
                        Closed applications
                      </a>
                    </li>
                  </ul>
                  <!-- TAB 1 -->
                  <div class="govuk-tabs__panel" id="matched-jobs">
                    <h2 class="govuk-heading-s">Matched jobs closing soon</h2>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Job</th>
                          <th scope="col" class="govuk-table__header">Closing date</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Forklift operator<br> <span class="govuk-hint govuk-!-margin-bottom-0"> Amazon</span></td>
                          <td class="govuk-table__cell">10 February 2024</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Warehouse handler<br> <span class="govuk-hint govuk-!-margin-bottom-0"> Tesco</span></td>
                          <td class="govuk-table__cell">15 February 2024</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Workshop operative / handler<br> <span class="govuk-hint govuk-!-margin-bottom-0"> Exchange People</span></td>
                          <td class="govuk-table__cell">15 February 2024</td>
                        </tr>
                      </tbody>
                    </table>
                    <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Other jobs chosen by the prisoner</h2>
                    <p class="govuk-hint">Other jobs the prisoner noted an interest in on the jobs board.</p>

                    <table class="govuk-table govuk-!-margin-bottom-5">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Job</th>
                          <th scope="col" class="govuk-table__header">Closing date</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Bricklayer<br> <span class="govuk-hint govuk-!-margin-bottom-0"> ABC Construction</span></td>
                          <td class="govuk-table__cell">31 January 2024</td>
                        </tr>
                      </tbody>
                    </table>

                    <p class="govuk-body"><a class="govuk-link" href="../job-match-list-suggested">View all matched jobs</a></p>

                  </div>

                  <!-- TAB 2 -->
                  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="open-applications">
                    <h2 class="govuk-heading-s">Open applications</h2>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Job</th>
                          <th scope="col" class="govuk-table__header">Application status</th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Vegetable packing operative<br> <span class="govuk-hint govuk-!-margin-bottom-0"> CBS Labour</span></td>
                          <td class="govuk-table__cell">Application submitted</td>
                          <td class="govuk-table__cell"><a href="../manage-progress-applied" aria-describedby="job1-details">View details</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- TAB 3 -->
                  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-applications">
                    <h2 class="govuk-heading-s">Closed applications</h2>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Job</th>
                          <th scope="col" class="govuk-table__header">Application status</th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Forklift operator<br> <span class="govuk-hint govuk-!-margin-bottom-0"> Z Labour</span></td>
                          <td class="govuk-table__cell">Unsuccessful application</td>
                          <td class="govuk-table__cell"><a href="#" aria-describedby="job1-details">View details</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>


            </section>

            <section class="app-summary-card govuk-!-margin-bottom-6">
              <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                  Things they have in place or need
                </h2>
              </header>

              <div class="app-summary-card__body">

              {% if data['status'] == 'No right to work' %}
              <div class="govuk-warning-text govuk-!-margin-top-2 govuk-!-margin-bottom-4">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Kevin Hall no longer has the right to work in the UK. You do not need to do anything until their work status changes.
                </strong>
              </div>
              {% elseif data['status'] == 'Does not want support' %}
              <div class="govuk-warning-text govuk-!-margin-top-2 govuk-!-margin-bottom-4">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Kevin Hall no longer wants support to get work. You do not need to do anything until their work status changes.
                </strong>
              </div>
              {% else %}
              {% endif %}


                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2">To do list</h3>

                <ol class="app-task-list">
                <ul class="app-task-list__items govuk-!-margin-bottom-6" style="padding-left: 0px">
                  <li class="app-task-list__item" style="border-top: 0px">
                    <span class="app-task-list__task-name">
                      <a href="../../todo-in-progress" aria-describedby="CV-status">
                        CV
                      </a>
                    </span>
                    <strong class="govuk-tag  govuk-tag--blue app-task-list__tag" id="CV-status">In progress</strong>
                  </li>
                  <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="../../todo-not-started" aria-describedby="housing-status">
                        Housing
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="housing-status">Not started</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="../../todo-not-started-ID" aria-describedby="ID-status">
                        ID
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="ID-status">Not started</strong>
                  </li> -->
                </ul>
                </ol>

                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2">In place already</h3>

                <ol class="app-task-list">
                <ul class="app-task-list__items govuk-!-margin-bottom-6" style="padding-left: 0px">
                  <li class="app-task-list__item" style="border-top: 0px">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="bank-account-status">
                       Bank account
                      </a>
                    </span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="disclosure-letter-status">
                        Disclosure letter
                      </a>
                    </span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="contact-status">
                        Email address or phone number
                      </a>
                    </span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="housing-status">
                        Housing
                      </a>
                    </span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="ID-status">
                        ID
                      </a>
                    </span>
                  </li>
                </ul>
                </ol>

                <p class="app-summary-card__hint">Last updated 1 August by James Brown</p>

              </div>
            </section>



  </div>

        </div>
    </div>
  </form>
      </main>

{% endblock %}
