{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">


  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>


    <span class="govuk-caption-l">Add a job - step 1 of 5</span>
  <h1 class="govuk-heading-l">Job role and source</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   

      {% if (data['title'] != "empty") %}
      <form method="post" action="./job-detail">
        {% else %}
      <form method="post" action="./add-job-location">
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label" for="employer-name">
            Employer name
          </label>
          <span id="employer-name-hint" class="govuk-hint">
            Start typing the name of the employer.
          </span>
          {% if (data['title'] != "empty") %}
          <input class="govuk-input" id="employer-name" value="{{ data['employer'] }}" name="employer-name" type="text" aria-describedby="employer-name-hint">

          {% else %}
          <input class="govuk-input" id="employer-name" name="employer-name" type="text" aria-describedby="employer-name-hint">

          {% endif %}

        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              The employer is not listed
            </span>
          </summary>
          <div class="govuk-details__text">
            You must <a href="#">add the employer</a> before adding a job. </p>

            <p>Any data you've already entered on this screen will be lost. 
         
          </div>
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label" for="job-title">
            Job title
          </label>
          {% if (data['title'] != "empty") %}
          <input class="govuk-input" value="{{ data['job-title'] }}"  id="job-title" name="job-title" type="text">

          {% else %}
          <input class="govuk-input" id="job-title" name="job-title" type="text">

          {% endif %}
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="job-sector">
            Job sector
          </label>
          <select class="govuk-select" id="job-sector" name="job-sector">
            {% if (data['title'] != "empty") %}
            <option value="{{ data['sector'] }}">{{ data['sector'] }}</option>
            {% endif %}
            <option value="">Choose job sector</option>
            <option value="Animal care and farming">Animal care and farming</option>
            <option value="Cleaning and maintenance">Cleaning and maintenance</option>
            <option value="Construction and trade">Construction and trade</option>
            <option value="Driving and transport">Driving and transport</option>
            <option value="Hair, beauty and wellbeing">Hair, beauty and wellbeing</option>
            <option value="Hospitality and catering">Hospitality and catering</option>
            <option value="IT and digital">IT and digital</option>
            <option value="Manufacturing and technical">Manufacturing and technical</option>
            <option value="Office or desk-based">Office or desk-based</option>
            <option value="Retail and sales">Retail and sales</option>
            <option value="Sport and fitness">Sport and fitness</option>
            <option value="Training and support">Training and support</option>
            <option value="Warehousing and storage">Warehousing and storage</option>
            <option value="Waste management">Waste management</option>            
            <option value="other">Other</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="hmpps-reporting-industry-sector">
            HMPPS reporting industry sector
          </label>
          <select class="govuk-select" id="hmpps-reporting-industry-sector" name="hmpps-reporting-industry-sector">
            {% if (data['title'] != "empty") %}
            <option value="{{ data['sector'] }}">{{ data['sector'] }}</option>
            {% endif %}
            <option value="">Choose HMPPS reporting industry sector</option>
            <option value="administration">Administration and support services</option>
            <option value="agriculture">Agriculture (including horticulture, forestry and fishing)</option>
            <option value="arts-entertainment">Arts and entertainment</option>
            <option value="construction">Construction</option>
            <option value="education">Education</option>
            <option value="energy">Energy</option>
            <option value="finance">Finance (including insurance)</option>
            <option value="health-social-work">Health and social work</option>
            <option value="hospitality-catering">Hospitality and catering</option>
            <option value="logistics">Logistics (including transportation and storage)</option>
            <option value="manufacturing">Manufacturing</option>
            <option value="mining">Mining</option>
            <option value="other-services">Other services</option>
            <option value="logistics">Logistics (including transportation and storage)</option>
            <option value="professionals-scientists-technicians">Professionals, scientists and technicians (including accounting, legal, architecture, consultancy and engineering)</option>
            <option value="property">Property</option>
            <option value="public-administration-defence">Public administration and defence</option>
            <option value="recycling-waste-management">Recycling and waste management (including water supply)</option>
            <option value="retail">Retail (includes wholesale and motor vehicle repair)</option>
            <option value="technology">Technology (includes information and communication)</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="number-of-vacancies">
            Number of vacancies
          </label>
          {% if (data['title'] != "empty") %}
          <input value="2" class="govuk-input govuk-input--width-10" id="number-of-vacancies" name="number-of-vacancies" type="number">
          {% else %}
          <input class="govuk-input govuk-input--width-10" id="number-of-vacancies" name="number-of-vacancies" type="number">

          {% endif %}
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="job-source-2">
            Job source
          </label>
          <select class="govuk-select" id="job-source-2" name="job-source-2">
            {% if (data['title'] != "empty") %}
            <option value="nfn">NFN</option>
            {% endif %}
            <option value="">Choose source</option>
            <option value="dwp">DWP</option>
            <option value="eab">EAB</option>
            <option value="education">Education</option>
            <option value="iag">IAG</option>
            <option value="nfn">NFN</option>
            <option value="prison">Prison</option>
            <option value="third-sector">Third Sector</option>
            <option value="pel">PEL</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="job-source-2">
            Job source 2 (optional)
          </label>
          <select class="govuk-select" id="job-source-2" name="job-source-2">

            <option value="">Choose source</option>
            <option value="dwp">DWP</option>
            <option value="eab">EAB</option>
            <option value="education">Education</option>
            <option value="iag">IAG</option>
            <option value="nfn">NFN</option>
            <option value="prison">Prison</option>
            <option value="third-sector">Third Sector</option>
            <option value="pel">PEL</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="charity-supported">
            Is this job supported by a charity? (Optional)
          </label>

          <span id="charity-supported-hint" class="govuk-hint">
            Enter the name of the Third Sector organisation supporting the job.
          </span>

          <input class="govuk-input" id="charity-supported" name="charity-supported" type="text">
        </div>



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-with-hint-hint">
            <label class="govuk-label margin-bottom-3">How many hiring locations does the job have?</label>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input
                class="govuk-radios__input"
                id="hiringLocations"
                name="hiringLocations"
                type="radio"
                value="One specific hiring location"
                aria-describedby="sign-in-with-hint-item-hint"
                />
                <label class="govuk-label govuk-radios__label" for="sign-in-with-hint">One specific hiring location</label>
              </div>
              <div class="govuk-radios__item">
                <input
                class="govuk-radios__input"
                id="hiringLocationsRegional"
                name="hiringLocations"
                type="radio"
                value="Multiple hiring locations within a region"
                aria-describedby="sign-in-with-hint-2-item-hint"
                />
                <label
                class="govuk-label govuk-radios__label"
                for="sign-in-with-hint-2"
                >
                Multiple hiring locations within a region
                </label>
              </div>
              <div class="govuk-radios__item">
                <input
                class="govuk-radios__input"
                id="hiringLocationsNational"
                name="hiringLocations"
                type="radio"
                value="Multiple locations across England and Wales"
                aria-describedby="sign-in-with-hint-2-item-hint"
                />
                <label
                class="govuk-label govuk-radios__label"
                for="sign-in-with-hint-2"
                >
                Multiple locations across England and Wales
                </label>
                <div
                id="sign-in-with-hint-2-item-hint"
                class="govuk-hint govuk-radios__hint"
                >
                Select this option even if the job locations have not been confirmed.
              </div>
          </div>
        </div>
      </fieldset>
    </div>




        <button class="govuk-button" data-module="govuk-button">
          Continue 
        </button>

      </form>

    </div>
  </div>

</div>
{% endblock %}