{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <!-- Breadcrumb -->

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../../dps-home">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../../home">Create an education and work plan</a>
      </li>
    </ol>
  </div>

  <!-- Main page -->

  <main class="govuk-main-wrapper">

      <form method="post">

        <div class="govuk-grid-row">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Prison number: <span class="govuk-body">G2911GD</span></p>
              </div>
              <div class="govuk-grid-column-three-quarters">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Release date: <span class="govuk-body">HDC: 28 May 2022</span></p>
              </div>
            </div>
          </div>
        </div>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Damien Adams</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <nav class="moj-sub-navigation" aria-label="Sub navigation">

              <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="#">Overview</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./damien-adams-personal-details">Personal details</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./damien-adams-skills">Work interests and experience</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./damien-adams-skills">Training in prison</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="./damien-adams-contacts">Contacts</a>
                </li>

              </ul>

            </nav>

          </div>
        </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-m govuk-!-margin-bottom-7">Overview</h1>

            <section class="app-summary-card govuk-!-margin-bottom-6">
              <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                  Action plan
                </h2>
              </header>

              <div class="app-summary-card__body">

                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2">Goal 1</h3>
                <p class="govuk-body">To set up my own mobile barbering business in the first 3 months after leaving prison.</p>

                <table class="govuk-table govuk-!-margin-bottom-6">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Steps</th>
                      <th scope="col" class="govuk-table__header">Target date</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">1. Get my Level 2 English award</td>
                      <td class="govuk-table__cell">3 August 2023</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2. Complete my barber training course</td>
                      <td class="govuk-table__cell">3 August 2023</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">3. Complete the business training course </td>
                      <td class="govuk-table__cell">1 March 2024</td>
                    </tr>
                    <tr class="govuk-table__row">
                    </tr>
                  </tbody>
                </table>

                <p class="govuk-body">
                  <a href="../../q10b-goals-add?goalsReview=true" class="govuk-link">
                    Add another goal
                  </a>
                </p>

                <p class="app-summary-card__hint">Last updated 1 March 2023 by James Brown</p>

              </div>
            </section>

        </div>
      </div>

</div>

</main>

{% endblock %}
