{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Vegetable packing operative
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-2">Employer: CBS Labour</p>
          <p class="govuk-body govuk-!-margin-bottom-5"><a class="govuk-link" href="#">Print</a></p>

          <h2 class="govuk-heading-s">
            Key information
          </h2>
          <ul class="govuk-list">
            <li>
              Closing date: 10 February 2024
            </li>
            <li>
              Location: Leeds, LS11
            </li>
            <li>
              Hours: 40 per week
            </li>
            <li>
              Salary: £9.87 per hour
            </li>
            <li>
              Offence exclusions: Sexual offences, Drug offences, Criminal damage and Arson
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Essential criteria
          </h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>None</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Job description
          </h2>
          <p class="govuk-body">What's on offer:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Day / night shifts available</li>
          </ul>
          <p class="govuk-body">Your duties will include:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
            <li>Packing</li>
            <li>Cutting</li>
            <li>Washing leeks and kale</li>
          </ul>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Manage application
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Archive job
            </button>
          </div>

        </div>

        <div class="govuk-grid-column-one-third">
          <section class="app-summary-card govuk-!-margin-bottom-6">
            <header class="app-summary-card__header">
              <h2 class="app-summary-card__title">
                Adam Ahmed matching summary
              </h2>
            </header>

            <div class="app-summary-card__body">

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Type of work interest:
                <br>
                Manufacturing and technical
              </h3>
              <p class="govuk-body">Yes</p>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Job location
              </h3>
              <p class="govuk-body">Leeds, LS11</p>
              <div class="timeline">
                 <ul>
                   <li>
                     <!-- <h3>1.5 miles<h3>
                     <p>Public transport: 31 minutes</p>
                     <p style="margin-bottom: 0px">Car: 27 minutes</p> -->
                     <p class="govuk-!-padding-top-4 govuk-!-padding-bottom-1">4.1 miles from release area: <br>Leeds, LS11</p>
                   </li>
                   <li>
                   </li>
                 </ul>
               </div>
               <!-- <p class="govuk-body">Release area: Leeds, LS11</p> -->



            </div>
          </section>
        </div>

      </div>
  </main>
</div>

{% endblock %}
