{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <!-- Breadcrumb -->

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dps-home">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="home">Work after release</a>
      </li>
    </ol>
  </div>

  <!-- Main page -->

  <main class="govuk-main-wrapper">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      Work after release reporting
    </h1>

  <!-- TABS -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <nav class="moj-sub-navigation govuk-!-margin-bottom-2" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="reporting-matching">Matching jobs and applications</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="#">Preparing for work progress</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <!-- FILTERS -->

    <div class="govuk-form-group filter-box govuk-!-margin-top-4">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
              Select a reporting period
            </h2>
          </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <form method="post">
            <button class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" data-module="govuk-button">
              Apply filters
            </button>
          </form>
        </div>
      </div>

    </div>

<!-- High level summary -->

    <h3 class="govuk-heading-m govuk-!-margin-bottom-7">
      High level summary
    </h3>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="reporting-stats">
          <h4 class="govuk-heading-s">
            Total number of prisoners 12 weeks from release
          </h4>
          <p class="reporting-big-number">
            73
          </p>
          <!-- <p class="govuk-body">
            + 20% increase
          </p> -->
        </div>
      </div>
      <!-- <div class="govuk-grid-column-one-third">
        <div class="reporting-stats">
          <h4 class="govuk-heading-s">
            Percentage of vacancies with at least one application
          </h4>
          <p class="reporting-big-number">
            70%
          </p>
          <p class="govuk-body">
            - 5% decrease
          </p>
        </div>
      </div> -->
      <!-- <div class="govuk-grid-column-one-third">
        <div class="reporting-stats">
          <h4 class="govuk-heading-s">
            Total number of applicants
          </h4>
          <p class="reporting-big-number">
            26
          </p>
          <p class="govuk-body">
            20% increase
          </p>
        </div>
      </div> -->
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="reporting-stats">
          <h4 class="govuk-heading-s">
            Total number of prisoners worked with
          </h4>
          <p class="reporting-big-number">
            34
          </p>
          <p class="govuk-body">
            - 10% decrease
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="reporting-stats">
          <h4 class="govuk-heading-s">
            Total number who did not want support
          </h4>
          <p class="reporting-big-number">
            16
          </p>
          <p class="govuk-body">
            + 10% increase
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="reporting-stats">
          <h4 class="govuk-heading-s">
            Total number who had no right to work
          </h4>
          <p class="reporting-big-number">
            21
          </p>
          <p class="govuk-body">
            - 5% decrease
          </p>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <!-- Application by status -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-6">
          Application by status
        </h3>

        <div class="govuk-form-group filter-box govuk-!-margin-top-4">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Total number of prisoners who have changed  status
                </h2>
                <p class="reporting-big-number">21</p>
                <p class="govuk-body govuk-!-margin-bottom-2">This is approximately <span class="govuk-!-font-weight-bold">82%</span> of your caseload for this period.</p>
              </div>
          </div>
        </div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__key">
              Total
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Not started
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Needs support
            </dt>
            <dd class="govuk-summary-list__value">
              22
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ready to work
            </dt>
            <dd class="govuk-summary-list__value">
              12
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does not want support
            </dt>
            <dd class="govuk-summary-list__value">
              16
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              No right to work
            </dt>
            <dd class="govuk-summary-list__value">
              21
            </dd>
          </div>
        </dl>

      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <!-- Documentation and support needed -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-6">
          Documentation and support needed
        </h3>

        <p class="govuk-body">Number of prisoners seen with preparing for work needs for this period. </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__key">
              Total
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bank account
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CV
            </dt>
            <dd class="govuk-summary-list__value">
              22
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disclosure letter
            </dt>
            <dd class="govuk-summary-list__value">
              12
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address or phone number
            </dt>
            <dd class="govuk-summary-list__value">
              16
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Housing
            </dt>
            <dd class="govuk-summary-list__value">
              21
            </dd>
          </div>
        </dl>

      </div>
    </div>


    <!-- Reasons for not wanting support -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-6">
          Reasons for not wanting support
        </h3>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__key">
              Total
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bank account
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CV
            </dt>
            <dd class="govuk-summary-list__value">
              22
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disclosure letter
            </dt>
            <dd class="govuk-summary-list__value">
              12
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does not want support
            </dt>
            <dd class="govuk-summary-list__value">
              16
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              No right to work
            </dt>
            <dd class="govuk-summary-list__value">
              21
            </dd>
          </div>
        </dl>

      </div>
    </div>




</div>


{% endblock %}
