{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">

<!-- BREADCRUMB -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <span class="govuk-caption-l">Add a job - step 3 of 6</span>

  <!-- <h1 class="govuk-heading-l">Add another hiring location</h1> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="./06-add-job-location-loop-02">


        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">Add another hiring location</label></h1>
          <div id="job-location-hint" class="govuk-hint">Enter the postcode.</div>
          {% if (data['title'] != "empty") %}
          <input class="govuk-input govuk-input--width-20" id="job-location" name="job-location" type="text" aria-describedby="job-location-hint" value="{{ data['location'] }}">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="job-location" name="job-location" type="text" aria-describedby="job-location-hint">
          {% endif %}
        </div>



<!-- VACANCIES -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">Enter the number of known vacancies at this location (optional)</label>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

<!-- COMMENTS -->
     
        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
             Additional location information (optional)
          </label>
           <div id="more-detail-hint" class="govuk-hint">
            If this is a national job, please describe the locations of the  employer, links can be added to external websites.
          </div>
           <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

</div>
{% endblock %}