{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">

  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <span class="govuk-caption-l">Add a job - step 6 of 6</span>
  
  <h1 class="govuk-heading-l">How to apply</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="./10-add-job-cya">


<!-- ROLLING OPPORTUNITY -->

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend">Is this a rolling opportunity?</legend>

          <div class="govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolling-yes" name="rolling" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="rolling-yes">Yes</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolling-no" name="rolling" type="radio" value="no" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="rolling-no">No</label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="closing-date-hint">
                  <label class="govuk-label">Closing date</label>
                    <div class="govuk-date-input" id="closing-date">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="closing-day">Day</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-day" name="closing-day" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="closing-month">Month</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closing-month" name="closing-month" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="closing-year">Year</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="closing-year" name="closing-year" type="text" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

              </div>

            </div>
          </div>


<!-- PRISON LEAVERS -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">Is the job only for prison leavers?</legend>
            <div class="govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="prison-yes" name="prison-leavers" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="prison-yes">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="prison-no" name="prison-leavers" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="prison-no">No</label>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">Job start date (optional)</legend>
            <div class="govuk-date-input" id="start-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="start-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="start-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="start-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="how-to-apply">How to apply</label>
          <textarea class="govuk-textarea" id="how-to-apply" name="how-to-apply" rows="5"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">Supporting documentation required (optional)</legend>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="cv" name="supporting-docs" type="checkbox" value="cv">
                <label class="govuk-label govuk-checkboxes__label" for="cv">CV</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="disclosure" name="supporting-docs" type="checkbox" value="disclosure-letter">
                <label class="govuk-label govuk-checkboxes__label" for="disclosure">Disclosure letter</label>
              </div>
   
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" value="other" data-aria-controls="supporting-docs-other">
                  <label class="govuk-label govuk-checkboxes__label" for="supporting-docs-other">Other</label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="supporting-docs-other">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="supporting-docs-other-other">Give details</label>
                    <textarea class="govuk-textarea" id="supporting-docs-other-other" name="offenceexclusionsother" rows="5" aria-describedby="job-description-hint"></textarea>
                  </div>
                </div>
  
              </div>

            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

</div>
{% endblock %}