{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">


  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>


    <span class="govuk-caption-l">Add a job - step 2 of 8</span>
    <!-- <h1 class="govuk-heading-l">Is this a national job?</h1> -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form id="hiringLocation" method="post" action="./03-add-job-details">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationalJobs-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">Is this a national job?</h1>
              </legend>

              <div id="nationalJobs-hint" class="govuk-hint">National jobs do not have a single location or postcode. Select 'no' if you know the postcode or location for this job.</div>
              <div class="govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="no" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">Yes, this is a national job</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="yes" aria-describedby="signIn-2-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn-2">No, the job has a specific postcode or location</label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  <script>
  document.getElementById('hiringLocation').addEventListener('submit', function() {
    const selectedValue = document.querySelector('input[name="signIn"]:checked')?.value;
    if (selectedValue === 'yes') {
      this.action = './03-add-job-details-location'; // Set a different action
    } else if (selectedValue === 'no') {
      this.action = './03-add-job-details';
    }
  });
</script>

</div>
{% endblock %}