{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">


  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>


    <span class="govuk-caption-l">Add a job - step 2 of 9</span>
    <!-- <h1 class="govuk-heading-l">Is this a national job?</h1> -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form id="hiringLocation" method="post" action="./03-add-job-details">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationalJobs-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">Is this a national job?</h1>
              </legend>

              <div id="nationalJobs-hint" class="govuk-hint">National jobs do not have a single hiring location. Select 'no' if you know the postcode for this job.
              </div>

              <div class="govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="national-job-yes" name="nationalJob" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="national-job-yes">
                      Yes, this is a national job
                </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="national-job-no" name="nationalJob" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="national-job-no">
                  No, the job has a specific postcode
                </label>
                </div>

              </div>
              
            </fieldset>
          </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  <script>
 
router.post('./03-add-job-details', function (req, res) {
  var nationalJob = req.session.data['nationalJob']

  if (nationalJob === 'no') {
    // If it’s a national job
    res.redirect('./03-add-job-details-location')
  } else {
    // If it needs a postcode
    res.redirect('./03-add-job-details')
  }
})

</script>

</div>
{% endblock %}