{% extends "../includes/template-slim.html" %}

{% block content %}
<div class="govuk-width-container">


  <!-- Breadcrumb -->

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>


    <span class="govuk-caption-l">Add a job - step 3 of 9</span>
  <h1 class="govuk-heading-l">Job description</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="./04-sector-sources">


        <div class="govuk-form-group">
          <label class="govuk-label" for="job-title">Job title</label>
          {% if (data['title'] != "empty") %}
          <input class="govuk-input" value="{{ data['job-title'] }}"  id="job-title" name="job-title" type="text">
          {% else %}
          <input class="govuk-input" id="job-title" name="job-title" type="text">
          {% endif %}
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="job-title">Job description</label>
          <span id="job-description-hint" class="govuk-hint">
            Describe the role and main tasks. Include any benefits and training opportunities. For jobs without a confirmed hiring location (national jobs), include any additional information about potential hiring areas, or employer areas of operation.<br><br>
          </span>
          <textarea class="govuk-textarea" id="job-description" name="jobdescription" rows="5" aria-describedby="job-description-hint"></textarea>
        </div>

    <!-- {% if data['nationalJob'] == "no" %} -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="joblocation">Postcode</label>
          <div id="signIn-hint" class="govuk-hint">
      Enter the job location postcode.
          </div>
          {% if (data['title'] != "empty") %}
          <input class="govuk-input" value="{{ data['joblocation'] }}"  id="joblocation" name="joblocation" type="text">
          {% else %}
          <input class="govuk-input" id="joblocation" name="joblocation" type="text">
          {% endif %}
        </div>
<!--{% endif %}-->

        <div class="govuk-form-group">
          <label class="govuk-label" for="vacancies">Number of vacancies (optional)</label>
          {% if (data['title'] != "empty") %}
          <input class="govuk-input" value="{{ data['vacancies'] }}"  id="vacancies" name="vacancies" type="text">
          {% else %}
          <input class="govuk-input" id="vacancies" name="vacancies" type="text">
          {% endif %}
        </div>



        <button class="govuk-button" data-module="govuk-button">
          Continue 
        </button>

      </form>

    </div>
  </div>

</div>
{% endblock %}