{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Add a job
          </h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="employerNameJob">
              Employer name
            </label>
            <div id="employernameJob-hint" class="govuk-hint">
              Start typing the name of the employer
            </div>
            <input class="govuk-input" id="employerNameJob" name="employerNameJob" type="text">

            <details class="govuk-details govuk-!-margin-top-4">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  The employer isn't listed
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">You must <a class="govuk-link" href="upload-add-employer">add the employer</a> before adding a job.</p>
                <p class="govuk-body">Any data you’ve already entered on this screen will be lost.</p>
              </div>
            </details>

          </div>


          <div class="govuk-form-group">
            <label class="govuk-label" for="jobTitle">
              Job title
            </label>
            <input class="govuk-input" id="jobTitle" name="jobTitle" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="jobSector">
              Job sector
            </label>
            <select class="govuk-select" id="jobSector" name="jobSector">
              <option value="updated" selected>Choose job sector</option>
              <option value="Animal care and farming">Animal care and farming</option>
              <option value="Cleaning and maintenance">Cleaning and maintenance</option>
              <option value="Construction and trade">Construction and trade</option>
              <option value="Driving and transport">Driving and transport</option>
              <option value="Hair, beauty and wellbeing">Hair, beauty and wellbeing</option>
              <option value="Hospitality and catering">Hospitality and catering</option>
              <option value="IT and digital">IT and digital</option>
              <option value="Manufacturing and technical">Manufacturing and technical</option>
              <option value="Office or desk-based">Office or desk-based</option>
              <option value="Retail and sales">Retail and sales</option>
              <option value="Sport and fitness">Sport and fitness</option>
              <option value="Training and support">Training and support</option>
              <option value="Warehousing and storage">Warehousing and storage</option>
              <option value="Waste management">Waste management</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="vacancyNumber">
              Number of vacancies
            </label>
            <input class="govuk-input govuk-input--width-5" id="vacancyNumber" name="vacancyNumber" type="text" inputmode="numeric">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="jobSource">
              Job source
            </label>
            <select class="govuk-select" id="jobSource" name="jobSource">
              <option value="1" selected>Choose job source</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="charity">
              Charity (optional)
            </label>
            <div id="charity-hint" class="govuk-hint">
              Enter the name of the Third Sector offenceExclusions supporting the vacancy.
            </div>
            <input class="govuk-input" id="charity" name="charity" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="workPattern">
              Work pattern
            </label>
            <select class="govuk-select" id="workPattern" name="workPattern">
              <option value="1" selected>Choose work pattern</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="hours">
              Hours
            </label>
            <select class="govuk-select" id="hours" name="hours">
              <option value="1" selected>Choose hours</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="contract">
              Contract type
            </label>
            <select class="govuk-select" id="contract" name="contract">
              <option value="1" selected>Choose contract type</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="salary">
              Salary
            </label>
            <div id="salary-hint" class="govuk-hint">
              For example, ‘£10.87 per hour’ or ‘£20,000 to £22,000’
            </div>
            <input class="govuk-input" id="salary" name="salary" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="base">
              Base location
            </label>
            <select class="govuk-select" id="base" name="base">
              <option value="1" selected>Choose base location</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="location">
              Job location
            </label>
            <div id="location-hint" class="govuk-hint">
              Enter postcode
            </div>
            <input class="govuk-input govuk-input--width-5" id="location" name="location" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="jobDescription">
              Job description
            </label>
            <div id="jobDescription-hint" class="govuk-hint">
              A description of the role and key tasks. Include any benefits and training opportunities.
            </div>
            <textarea class="govuk-textarea" id="jobDescription" name="jobDescription" rows="5"></textarea>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="keyCriteria">
              Key criteria
            </label>
            <div id="keyCriteria-hint" class="govuk-hint">
              For example, Maths level 1, CSCS card, driving licence, access to a vehicle.
            </div>
            <input class="govuk-input" id="keyCriteria" name="keyCriteria" type="text">
            <p class="govuk-body govuk-!-margin-top-4"><a class="govuk-link" href="#">Add another key criteria</a></p>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="desirableCriteria">
              Desirable criteria
            </label>
            <!-- <div id="desirableCriteria-hint" class="govuk-hint">
              A description of the role and key tasks. Include any benefits and training opportunities.
            </div> -->
            <textarea class="govuk-textarea" id="desirableCriteria" name="desirableCriteria" rows="4"></textarea>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                  Offence exclusions
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions" name="offenceExclusions" type="checkbox" data-behaviour="exclusive" value="None">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions">
                    None
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions-2" name="offenceExclusions" type="checkbox" value="All applicants are considered on a case by case basis">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions-2">
                    All applicants are considered on a case by case basis
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions-3" name="offenceExclusions" type="checkbox" value="Arson">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions-3">
                    Arson
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions-4" name="offenceExclusions" type="checkbox" value="Driving offences">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions-4">
                    Driving offences
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions-5" name="offenceExclusions" type="checkbox" value="Sexual offences">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions-5">
                    Sexual offences
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions-6" name="offenceExclusions" type="checkbox" value="Terrorism">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions-6">
                    Terrorism
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="offenceExclusions-7" name="offenceExclusions" type="checkbox" value="Other" data-aria-controls="conditional-offenceExclusions">
                  <label class="govuk-label govuk-checkboxes__label" for="offenceExclusions-7">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-offenceExclusions">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="offenceExclusions-otherDetails">
                      Give details
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="offenceExclusions-otherDetails" name="offenceExclusions-otherDetails">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                  Is it a rolling opportunity?
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="rollingYes" name="rolling" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="rollingYes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="rollingNo" name="rolling" type="radio" value="No" data-aria-controls="conditional-rollingNo">
                  <label class="govuk-label govuk-radios__label" for="rollingNo">
                    No
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rollingNo">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="application-date">
                      Application end date
                    </label>
                    <!-- <div id="application-date-hint" class="govuk-hint">
                      For example, 27 12 2024
                    </div> -->
                    <div class="govuk-date-input" id="application-date">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="application-date-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="application-date-day" name="application-date-day" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="application-date-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="application-date-month" name="application-date-month" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="application-date-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="application-date-year" name="application-date-year" type="text" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                  Is the job only for prison leavers?
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusiveYes" name="exclusive" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="exclusiveYes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusiveNo" name="exclusive" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="exclusiveNo">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>











          <button type="submit" class="govuk-button" data-module="govuk-button">
            Add job
          </button>




        </div>
      </div>
  </main>
</div>

{% endblock %}
