{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post">

          <span class="govuk-caption-l">Add a job - step 2 of 5</span>
          <h1 class="govuk-heading-l">
            Location and contract details
          </h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="location">
              Job location
            </label>
            <div id="location-hint" class="govuk-hint">
              Enter postcode
            </div>
            <input class="govuk-input govuk-input--width-5" id="location" name="location" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="salary">
              Salary
            </label>
            <div id="salary-hint" class="govuk-hint">
              For example, ‘£10.87 per hour’ or ‘£20,000 to £22,000’
            </div>
            <input class="govuk-input" id="salary" name="salary" type="text">
          </div>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="workPattern">
              Work pattern
            </label>
            <select class="govuk-select" id="workPattern" name="workPattern">
              <option value="1" selected>Choose work pattern</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div> -->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                  Work pattern
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="workPattern" name="workPattern" type="checkbox" value="Flexible shifts">
                  <label class="govuk-label govuk-checkboxes__label" for="workPattern">
                    Flexible shifts
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="workPattern-2" name="workPattern" type="checkbox" value="Monday to Friday">
                  <label class="govuk-label govuk-checkboxes__label" for="workPattern-2">
                    Monday to Friday
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="workPattern-3" name="workPattern" type="checkbox" value="Night shifts">
                  <label class="govuk-label govuk-checkboxes__label" for="workPattern-3">
                    Night shifts
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="workPattern-4" name="workPattern" type="checkbox" value="Weekends">
                  <label class="govuk-label govuk-checkboxes__label" for="workPattern-4">
                    Weekends
                  </label>
                </div>
              </fieldset>
          </div>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="base">
              Work location
            </label>
            <select class="govuk-select" id="base" name="base">
              <option value="1" selected>Choose work location</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div> -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hours">
              Hours per week
            </label>
            <select class="govuk-select" id="hours" name="hours">
              <option value="1" selected>Choose hours</option>
              <option value="2">40 or more</option>
              <option value="3">30 to 39</option>
              <option value="4">Less than 30</option>
            </select>
          </div>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="contract">
              Contract type (optional)
            </label>
            <select class="govuk-select" id="contract" name="contract">
              <option value="1" selected>Choose contract type</option>
              <option value="2">XX</option>
              <option value="3">XX</option>
              <option value="4">XX</option>
              <option value="5">XX</option>
            </select>
          </div> -->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                  Contract type (optional)
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract" name="contract" type="checkbox" value="Fixed-term">
                  <label class="govuk-label govuk-checkboxes__label" for="contract">
                    Fixed-term
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract-2" name="contract" type="checkbox" value="Full-time">
                  <label class="govuk-label govuk-checkboxes__label" for="contract-2">
                    Full-time
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract-3" name="contract" type="checkbox" value="Part-time">
                  <label class="govuk-label govuk-checkboxes__label" for="contract-3">
                    Part-time
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract-4" name="contract" type="checkbox" value="Permanent">
                  <label class="govuk-label govuk-checkboxes__label" for="contract-4">
                    Permanent
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract-5" name="contract" type="checkbox" value="Self-employed">
                  <label class="govuk-label govuk-checkboxes__label" for="contract-5">
                    Self-employed
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract-6" name="contract" type="checkbox" value="Temporary">
                  <label class="govuk-label govuk-checkboxes__label" for="contract-6">
                    Temporary
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contract-7" name="contract" type="checkbox" value="Zero hours">
                  <label class="govuk-label govuk-checkboxes__label" for="contract-7">
                    Zero hours
                  </label>
                </div>
              </fieldset>
          </div>


          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>


        </div>
      </div>
  </main>
</div>

{% endblock %}
