{% extends "./includes/template.html" %}

{% block content %}




<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What’s the highest level of education Damien Adams has completed?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-primary" name="highest-education" type="radio" value="Primary school">
                  <label class="govuk-label govuk-radios__label" for="highest-education-primary">
                    Primary school
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-secondary1" name="highest-education" type="radio" value="Secondary school, left before taking exams">
                  <label class="govuk-label govuk-radios__label" for="highest-education-secondary1">
                    Secondary school, left before taking exams
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-secondary2" name="highest-education" type="radio" value="Secondary school, took exams">
                  <label class="govuk-label govuk-radios__label" for="highest-education-secondary2">
                    Secondary school, took exams
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-college" name="highest-education" type="radio" value="Further education college">
                  <label class="govuk-label govuk-radios__label" for="highest-education-college">
                    Further education college
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-undergrad" name="highest-education" type="radio" value="Undergraduate degree at university">
                  <label class="govuk-label govuk-radios__label" for="highest-education-undergrad">
                    Undergraduate degree at university
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-postgrad" name="highest-education" type="radio" value="Postgraduate degree at university">
                  <label class="govuk-label govuk-radios__label" for="highest-education-postgrad">
                    Postgraduate degree at university
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="highest-education-notSure" name="highest-education" type="radio" value="Not sure">
                  <label class="govuk-label govuk-radios__label" for="highest-education-notSure">
                    Not sure
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
