{% extends "./includes/template.html" %}

{% block content %}




<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
        {% if data['qual-level'] == 'Entry level' %}
          Add an <span style="text-transform: lowercase">{{ data['qual-level'] }}</span> qualification
        {% else %}
          Add a <span style="text-transform: lowercase">{{ data['qual-level'] }}</span> qualification
        {% endif %}
        </h1>

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-body" for="add-subject">
              Subject
            </label>
            <div id="add-subject-hint" class="govuk-hint">
              For example, XXX
            </div>
            <input class="govuk-input govuk-!-width-two-thirds" id="add-subject" name="add-subject" type="text" aria-describedby="add-subject-hint">
          </div>
          <div class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label govuk-body" for="add-grade">
              Grade
            </label>
            <div id="add-grade-hint" class="govuk-hint">
              For example, 9-1, A-E, pass or distinction
            </div>
            <input class="govuk-input govuk-input--width-10" id="add-grade" name="add-grade" type="text" aria-describedby="add-grade-hint">
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
