{% extends "./includes/template.html" %}

{% block content %}




<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Is Damien Adams interested in any particular jobs?
        </h1>

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              Construction and trade
            </h2>
            <label class="govuk-label govuk-body" for="add-jobRole">
              Enter a particular job role (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="add-jobRole" name="add-jobRole" type="text" aria-describedby="add-jobRole-hint">
          </div>

          <div class="govuk-form-group">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              Sport and fitness
            </h2>
            <label class="govuk-label govuk-body" for="add-jobRole2">
              Enter a particular job role (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="add-jobRole2" name="add-jobRole2" type="text" aria-describedby="add-jobRole2-hint">
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
