{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          What are Damien Adams’s interests?
        </h1>

        <form class="form" method="post" novalidate>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="interests-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <div id="interests-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-1" name="interests" type="checkbox" value="Community">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-1">
                    Community
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like volunteering with local organisations or charities
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-2" name="interests" type="checkbox" value="Crafts">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-2">
                    Crafts
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like DIY, sewing or woodworking
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-3" name="interests" type="checkbox" value="Creative">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-3">
                    Creative
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like writing, cooking or photography
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-4" name="interests" type="checkbox" value="Digital">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-4">
                    Digital
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like computer gaming, making movies or coding
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-5" name="interests" type="checkbox" value="Knowledge-based">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-5">
                    Knowledge-based
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like quizzes, local history or learning a language
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-6" name="interests" type="checkbox" value="Musical">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-6">
                    Musical
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like singing, playing an instrument or dancing
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-7" name="interests" type="checkbox" value="Outdoor">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-7">
                    Outdoor
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like cycling, hiking or gardening
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-8" name="interests" type="checkbox" value="Nature and animals">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-8">
                    Nature and animals
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like looking after pets, fishing or birdwatching
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-9" name="interests" type="checkbox" value="Social">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-9">
                    Social
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like spending time with friends or going to the cinema
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-10" name="interests" type="checkbox" value="Solo activities">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-10">
                    Solo activities
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like reading, watching TV or listening to music
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-11" name="interests" type="checkbox" value="Solo sports">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-11">
                    Solo sports
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like golf, running or swimming
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-12" name="interests" type="checkbox" value="Team sports">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-12">
                    Team sports
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like football, netball or cricket
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-13" name="interests" type="checkbox" value="Wellness">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-13">
                    Wellness
                  </label>
                  <div id="interests-hint" class="govuk-hint govuk-checkboxes__hint">
                    things like yoga, meditation or going to the gym
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-other" name="interests" type="checkbox" value="Other" data-aria-controls="conditional-interests">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-other">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-interests">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="interests-other-details">
                      Give details
                    </label>
                    <textarea class="govuk-textarea" id="with-hint" name="with-hint" rows="2" aria-describedby="with-hint-info with-hint-hint"></textarea>
                  </div>
                </div>

                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="interests-none" name="interests" type="checkbox" value="None of these" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="interests-none">
                    None of these
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
