{% extends "layout-index.html" %}

{% set pageName="Index" %}

{% block pageTitle %}
  Candidate matching service prototype index
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
  <div class="govuk-grid-column-two-thirds">


  <h2 class="govuk-heading-m">Version 7 (MVP)</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>XXX</li>
    </ul>
    <a href="/v7/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 6</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>XX</li>
  </ul>
  <p class="govuk-body"><a href="#" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 5</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>X</li>
    </ul>
    <p class="govuk-body"><a href="#" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 4</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>X</li>
    </ul>
    <p class="govuk-body"><a href="#" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 3</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>X</li>
    </ul>
    <p class="govuk-body"><a href="#" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 2</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>X</li>
    </ul>
    <p class="govuk-body"><a href="#" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 1</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>X</li>
    </ul>
    <p class="govuk-body"><a href="#" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Prototype Github repository
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Candidate matching service design Miro board
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              ESWE design trello board
            </a>
          </li>


        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
