{% extends "layout-index.html" %}

{% set pageName="Index" %}

{% block pageTitle %}
  Candidate matching service prototype index
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-m">30 July 2025</span>
    <h2 class="govuk-heading-l">Version 19</h2>
    <p class="govuk-body">User research round 3:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/v19/admin/jobs-list">Add job V08 and add employer V01:</a> national/single location and new employer details</li>
      <li><a href="/v19/match-jobs-v1/matched-jobs">Match job V01:</a> tab view of national jobs</li>
      <li><a href="/v19/match-jobs-v3/matched-jobs">Match job V03:</a> tab view of national jobs with employer + offence filters</li>
      <li><a href="/v19/match-jobs-v4/matched-jobs">Match job V04:</a> employer panel</li>
    </ul>
    <a href="/v18/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>



  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



    <span class="govuk-caption-m">27 June 2025</span>
    <h2 class="govuk-heading-l">Version 18</h2>
    <p class="govuk-body">National jobs including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/v18/add-job-v1/add-job-source">Add a job V01:</a> national jobs questions added</li>
      <li><a href="/v18/add-job-v2/01-add-employer">Add a job V02:</a> restructured questions and an add-to-list loop</li>
      <li><a href="/v18/add-job-v3/01-add-employer">Add a job V03:</a> restructured questions with NO national jobs</li>
    </ul>
    <p class="govuk-body">Flows for user research:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/v18/add-job-v4/01-add-employer">Add a job V04:</a> single location</li>
      <li><a href="/v18/add-job-v5/01-add-employer">Add a job V05:</a> multiple locations</li>
      <li><a href="/v18/add-job-v6/01-add-employer">Add a job V06:</a> national job</li>
    </ul>
    <a href="/v18/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>



  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



    <h2 class="govuk-heading-m">Version 17  <strong class="govuk-tag govuk-tag--green">
      MVP
    </strong></h2>
    <p class="govuk-body">Broker iterations including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Simplified the duplication journey</li>
      <li>Reduced statuses to Live / CLosed</li>
      <li>Added sort by status / filter</li>
    </ul>
    <a href="/v17/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>



  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



    <h2 class="govuk-heading-m">Version 16  <strong class="govuk-tag govuk-tag--yellow">
      DESIGN & TESTED
    </strong></h2>
    <p class="govuk-body">Broker initial iterations including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>New entry point call to action</li>
      <li>Add / edit job status screen</li>
      <li>Add job status labels on jobs list</li>
      <li>Duplication journey</li>
      <li>Delete job journey</li>

    </ul>
    <a href="/v16/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



    <h2 class="govuk-heading-m">Version 15  <strong class="govuk-tag govuk-tag--green">
      build
    </strong></h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Migrating Figma prototype to the kit</li>
      <li>Add jobs / employees</li>
      <li>JSON data used for jobs and employees</li>
    </ul>
    <a href="/v15/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">Version 14 | Beta iteration 1</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Removal of '12 week rule'. Filter added to GSRTW list view to allow users to work with prisoners outside of 12 week window.</li>
    </ul>
    <p class="govuk-body">PROTOTYPE ADMIN: Added more GSRTW functionality to this prototype as it is much more up to date. Added a working GSRTW list view.</p>

    <a href="/v14/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">Version 13</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Iterations to fields and formatting on the job description screen in Match jobs and manage applications - based on latest version of jobs upload.</li>
      <li>Manage application screen updated to include supporting documentation needs</li>
    </ul>
    <p class="govuk-body">NAME CHANGE: Product group on DPS renamed from 'Work after release' to 'Work after leaving prison' due to stakeholder issue with the acronym (WAR) it produced.</p>

    <a href="/v13/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 12</h2>
    <p class="govuk-body govuk-!-margin-bottom-2">REPORTING:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Iterations to reporting screens based on updated requirements from UR and stakeholders</li>
    </ul>
    <a href="/v12/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 11</h2>
    <p class="govuk-body govuk-!-margin-bottom-2">JOB UPLOAD (NFN version):</p>
    <p class="govuk-body">Note: This prototype was produced to aid development, not for user research. It represents a ‘rolled-back’ MVP view heavily restricted by the technical limitations of the integration with the Meganexus Jobs Board. It does not include iterations based on previous rounds of research.</p>
    <p class="govuk-body govuk-!-margin-bottom-2">UPDATE: W/C 24/06/24</p>
    <p class="govuk-body">Some small improvements made:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Changed BASE LOCATION to optional (the UCD recommendation was to remove this field)
      <li>Changed DESIRABLE CRITERIA to optional
      <li>Changed JOB START DATE to optional (the UCD recommendation was to remove this field)
      <li>Updated the list options in the JOB SOURCE dropdown to include PEL
      <li>Updated the list options in the EXCLUSIONS dropdown to the options we developed and tested (the UCD recommendation was to also capture details when someone selects 'other')</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=5834%3A43863&node-id=6020-27561&viewport=1396%2C226%2C0.12&t=XEWJlCG3dJtpo4IT-1&scaling=min-zoom&starting-point-node-id=6020%3A27561" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 10</h2>
    <p class="govuk-body govuk-!-margin-bottom-2">JOB UPLOAD:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Iterations to fields and lists of options within fields based on previous round of UR on 9th-10th May</li>
    </ul>
    <a href="/v10/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">Version 9</h2>
    <p class="govuk-body govuk-!-margin-bottom-2">JOB UPLOAD:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Job and employer upload journey second iteration</li>
      <li>Job upload split across 4 screens and a check answers page due to accessibility and usability concerns with one page approach used on Jobs board.</li>
      <li>Iterations to fields and lists of options within fields based on previous round of UR on 10th-12th April</li>
    </ul>
    <a href="/v9/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



  <h2 class="govuk-heading-m">Version 8</h2>
    <p class="govuk-body govuk-!-margin-bottom-2">JOB UPLOAD:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Job upload concept test</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=4531%3A22302&type=design&node-id=4675-9046&viewport=-5249%2C-23%2C0.25&t=MaAq2A1Cc7aRGPqT-1&scaling=min-zoom&starting-point-node-id=4675%3A8822&hide-ui=1" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">Version 7 (MVP)</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>First coded version of the prototype.</li>
      <li>Refining features and content for MVP.</li>
    </ul>
    <a href="/v7/dps-home" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 6</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Refining end to end journey after 3 sprints into somewhat separate features.</li>
  </ul>
  <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=2427%3A53302&type=design&node-id=2427-53303&viewport=1685%2C777%2C0.19&t=fto5slYHkUQ4RPO1-1&scaling=min-zoom&starting-point-node-id=2427%3A53303&mode=design" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 5</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>NOTE: mini sprint focused solely on reporting.</li>
      <li>Main focus of this version: Outputs from the detailed design sprint into Reporting. This includes Get someone ready to work and CMS initial reporting requirements.</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=2261%3A47429&type=design&node-id=2261-47430&viewport=1715%2C734%2C0.14&t=p3pJpJkrZ3RplKui-1&scaling=min-zoom&starting-point-node-id=2261%3A47430&mode=design" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 4</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Main focus of this version: Outputs from the detailed design sprint into Managing applications. This included a managing case management view and a full journey for tracking progress.</li>
      <li>Testing two versions of a tiled entry screen (tiles tested better): one with a combined Matching and Managing applications entry point.</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=1788%3A57221&type=design&node-id=1788-57222&viewport=2592%2C1143%2C0.36&t=kvFfTSBJaZXXXYet-1&scaling=min-zoom&starting-point-node-id=1788%3A57222&mode=design" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 3</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Main focus of this version: Outputs from the detailed design sprint into Matching. This also meant a more MVP/achievable version of the matching screens</li>
      <li>Design cut down to focus on Matching, Managing applications, Reporting, and merging with Get someone ready to work.</li>
      <li>Testing of two different types of entry screen/DPS sub-page: Tiles vs Task based list view.</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=1489%3A33650&type=design&node-id=1489-33651&viewport=2938%2C1009%2C0.3&t=cBlJeJtPq0G9ni2A-1&scaling=min-zoom&starting-point-node-id=1489%3A33651&mode=design" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 2</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Initial idea of how CMS could fit together with Get someone ready to work.</li>
      <li>Adding additional concepts for other features/journeys: Reporting, Jobs upload, CV output</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=800%3A18272&type=design&node-id=800-20579&viewport=97%2C264%2C0.11&t=S8S9h3nweTaBsBZH-1&scaling=min-zoom&starting-point-node-id=800%3A20579&mode=design" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 1</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Initial concept test - taking the main 2 concepts from the design sprint and testing them in a single journey: a prisoner first route and a job first route.</li>
      <li>Job first route: High level dashboard/list view, into a matching view showing prisoners matched to that job, then into a shortlisting feature.</li>
      <li>Prisoner first route: List view, into a 'profile' view showing key info and matches, match quality etc</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/H97gcsJRBrMSIavoUsEXZr/CMS-Design-work?page-id=280%3A11217&type=design&node-id=280-11220&viewport=-941%2C415%2C0.68&t=HnKONPFTHXv5EPy7-1&scaling=min-zoom&starting-point-node-id=280%3A11220&mode=design" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">

          <p><a href="/research">Research area</a></p>
          
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/wiki/spaces/RR/pages/5566562562/Design+history+-+Match+jobs+and+manage+applications">
              Design history
            </a>
          </li>          
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-matching-prototype">
              Prototype Github repository
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVMx4ueLs=/?moveToWidget=3458764581875023005&cot=14">
              Candidate matching service design Miro board
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://trello.com/b/ydTmry19/esw-board">
              ESWE design trello board
            </a>
          </li>


        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
