
{% extends "layout-index.html" %}

{% block pageTitle %}
  CIAG induction prototype index
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
  <div class="govuk-grid-column-two-thirds">


  <h2 class="govuk-heading-m">Version 4</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Iterations based on last round of research (end of March)</li>
    </ul>
    <a href="/v4/dps-home" class="govuk-button">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 3</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Iterations to how we capture education information - leading with highest first and only capturing level first time through when needed</li>
    <li>Content iterations throughout</li>
    <li>Added new data captured as part of the induction service to the profile in the 'after' state</li>
  </ul>
  <a href="/v3/dps-home" class="govuk-button">View prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 2</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Focusing in on the 'One service' approach, designing this out into a full journey including first version content for all questions/topics</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/ZNOxoAjQLTs1TOelKaoBfx/CIAG-early-design-work?page-id=646%3A17934&node-id=646-17947&viewport=5318%2C-85%2C0.78&scaling=min-zoom&starting-point-node-id=646%3A17947&hide-ui=1" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <h2 class="govuk-heading-m">Version 1</h2>
    <p class="govuk-!-margin-bottom-2">Testing of 2 main approaches:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>'One service' building off of work done on work readiness and the idea of a single work profile</li>
      <li>Handling the induction as a separate transactional service</li>
    </ul>
    <p class="govuk-!-margin-bottom-2">Secondary test:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Testing the of level of detail we need to capture - using Education as the topic to explore this</li>
    </ul>
    <p class="govuk-body"><a href="https://www.figma.com/proto/ZNOxoAjQLTs1TOelKaoBfx/CIAG-early-design-work?page-id=133%3A3679&node-id=133-3683&viewport=1120%2C343%2C0.07&scaling=min-zoom&starting-point-node-id=133%3A3683&hotspot-hints=0&hide-ui=1" class="govuk-link">View figma prototype</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-ciag-induction-prototype">
              Prototype Github repository
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVP7TFlYM=/?moveToWidget=3458764549017870288&cot=14">
              CIAG induction design Miro board
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/secure/RapidBoard.jspa?rapidView=699">
              ESWE design Jira board
            </a>
          </li>


        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
