{% extends "../includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span style="float:right">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Print
            </button>
          </span>

          <span class="govuk-caption-l">Employer: Amazon</span>
          <h1 class="govuk-heading-l">Forklift operator</h1>

          <p class="govuk-body govuk-!-margin-bottom-2">Location: LS12 8DC</p>
          <p class="govuk-body">Closing date: 10 Feb 2024</p>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Salary and contract
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-2">Salary: £11.93 to £15.90</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Salary period: Per hour</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Additional salary information: Not provided</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Work pattern: Flexible shifts</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Hours: Full-time (more than 30-39 hours)</p>
          <p class="govuk-body">Contract type: Permanent</p>


          <h2 class="govuk-heading-s">
            Prison leaver recruitment information
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-2">Number of vacancies: 100</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Charity support: No</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Only for prison leavers: No</p>
          <p class="govuk-body">Offence exclusions: Arson</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Essential criteria
          </h2>
          <p class="govuk-body">• Valid Counterbalance FLT licence<br>
• Previous experience in dispatch/warehouse loading<br>
• Ability to use scanners and manage inventory systems<br>
• Comfortable working night shifts after initial training<br>
• Reliable, punctual, and physically fit for manual handling
</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Desirable criteria
          </h2>
          <p class="govuk-body">Not provided</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Job description
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-8">
            • Loading lorries in a fast-paced dispatch environment<br>
• Scanning products from conversion line into storage locations<br>
• Ensuring accurate and timely movement of stock<br>
• Following all health & safety procedures<br>
• General warehouse and dispatch duties as required


          </p>



          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Manage application
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Archive job
            </button>
          </div>

        </div>

        <div class="govuk-grid-column-one-third">
          <section class="app-summary-card govuk-!-margin-bottom-6">
            <header class="app-summary-card__header">
              <h2 class="app-summary-card__title">
                Adam Ahmed matching summary
              </h2>
            </header>

            <div class="app-summary-card__body">

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Type of work:
              </h3>
              <p class="govuk-body">Warehousing and storage</p>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Matches prisoner interests?
              </h3>
              <p class="govuk-body">Yes</p>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Job location
              </h3>
              <p class="govuk-body">LS12 8DC</p>
              <div class="timeline">
                 <ul>
                   <li>
                     <!-- <h3>1.5 miles<h3>
                     <p>Public transport: 31 minutes</p>
                     <p style="margin-bottom: 0px">Car: 27 minutes</p> -->
                     <p class="govuk-!-padding-top-4 govuk-!-padding-bottom-1">4.1 miles from release area: <br>LS12 8DC</p>
                   </li>
                   <li>
                   </li>
                 </ul>
               </div>



            </div>
          </section>
        </div>

      </div>
  </main>
</div>

{% endblock %}
