{% extends "research-index.html" %}

{% set pageName="Candidate matching service user research index" %}

{% block pageTitle %}
  Candidate matching service user research index
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
  <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">User research: July 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Conditions</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Add a job version 4</th>
          <td class="govuk-table__cell">NJ = false, LOCATION = single</td>
          <td class="govuk-table__cell"><a href="/v18/add-job-v4/01-add-employer">Start now</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Add a job version 5</th>
          <td class="govuk-table__cell">NJ = false, LOCATION = multiple</td>
          <td class="govuk-table__cell"><a href="/v18/add-job-v5/01-add-employer">Start now</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Add a job version 6</th>
          <td class="govuk-table__cell">NJ = true</td>
          <td class="govuk-table__cell"><a href="/v18/add-job-v6/01-add-employer">Start now</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Add a job version 7</th>
          <td class="govuk-table__cell">NJ = true, LOCATION LOOP = false</td>
          <td class="govuk-table__cell"><a href="/v18/add-job-v7/01-add-employer">Start now</a></td>
        </tr>
      </tbody>
    </table>
  </div>



    <!-- <h2 class="govuk-heading-l">July 2025</h2>

    <h3 class="govuk-heading-m">Add a job version 4</h3>
    <p>NJ = false, LOCATION = single</p>
    <p><a href="">Start now</a></p>

    <h3 class="govuk-heading-m">Add a job version 4</h3>
    <p>NJ = false, LOCATION = multiple</p>
    <p><a href="">Start now</a></p>

    <h3 class="govuk-heading-m">Add a job version 4</h3>
    <p>NJ = true</p>
    <p><a href="">Start now</a></p>
 -->

  </div>


{% endblock %}
